@import url("default.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("bootstrap.css");
@import url("bootstrap-multiselect.css");

//new
@import url("bootstrap-theme.css");
@import url("bootstrap-grid.min.css");
@import url("bootstrap-utilities.min.css");

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 160%;
  color: #333;
  font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", "Helvetica",
  "AppleSDGothicNeo", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  /*width: 400px;*/
  /*height: 800px;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

header {
  background: #333;
  color: #fff;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  h1 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 12px;
}

.container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 0 0 100px 0;
}

.mainMenu {
  padding: 16px;

  h2.title {
    border: 3px solid #333;
    height: 50px;
    border-radius: 30px;
    margin: 20px 0 30px 0;
  }
}

h2.title {
  display: flex;
  align-items: center;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;

  &:before {
    content: "\f285";
    margin: 0 10px;
    font-family: bootstrap-icons !important;
    font-weight: bolder;
    color: #333;
  }
}

.mainMenu {
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      width: 48%;
      height: 50px;
      background-color: #ccc;
      color: #fff;
      margin: 10px 1px;
      border-radius: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }

    a.on {
      background-color: #333333;
    }
  }
}

.inputContainer {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #333;

  small {
    font-size: 12px;
  }

  & > div {
    font-size: 13px;
  }
}

/*form-control*/
.form-control {
  height: 30px;
  font-size: 11px;
  padding: 0 0 0 3px !important;
}

.form-control::placeholder {
  font-size: 12px;
}

.tableWrap {
  //height: 350px;

  table {
    position: relative;
    font-size: 10px;

    thead {
      position: sticky;
      left: 0;
      top: 0;

      &.table-dark {
        background-color: #333;
        color: #fff !important;
      }

      th {
        font-size: 12px;

        &:first-of-type {
          text-align: center;
        }
      }
    }

    tbody {
      th {
        padding: 5px 0;
        vertical-align: middle;

        &:first-of-type {
          text-align: center;
        }
      }

      td {
        font-size: 10px;
        padding: 5px 0;
        vertical-align: middle;
      }
    }

    .form-check {
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: auto;
      text-align: left;
      display: inline-block;
      padding-left: 10px;

      .form-check-input {
        margin: 0;
        float: none;
        vertical-align: middle;
      }
    }
  }

  table.table-data {
    margin: 30px 0;

    .bg-dark {
      color: #fff;
      text-align: center;
    }

    th {
      vertical-align: middle;
      padding: 5px 0;
      font-size: 14px;
    }

    td {
      font-size: 14px;
    }
  }
}

.table-responsive {
  table {
    width: 800px;
  }
}

.loginWrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    padding: 0 30px;
    margin-bottom: 30px;

    img {
      max-width: 100%;
    }
  }

  input::placeholder {
    font-size: 14px;
  }

  .inputCont {
    width: 100%;
    padding: 0 16px;

    input:focus {
      outline: none;
    }
  }

  .btnLogin {
    width: 100%;
    padding: 0 16px;
    margin-top: 20px;

    button {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.searchContainer {
  padding: 10px 16px;
  border-bottom: 2px solid #333;

  .row > * {
    padding-left: calc(var(--bs-gutter-x) * 0.2);
  }

  .font12 {
    font-size: 12px;
  }

  .font11 {
    font-size: 11px;
  }

  label {
    font-size: 11px;
    font-weight: bold;
    word-spacing: -1px;
    padding: 0 !important;
    line-height: 2.5;
    margin-bottom: 0;
  }

  .btn {
    height: 30px;

    &.bg-dark {
      font-size: 12px;
      color: #fff !important;
    }
  }

  .form-select {
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    font-size: 12px;
  }

  .btnWrap {
    padding-top: 10px;
    text-align: center;

    .btn {
      height: 30px;
      font-size: 12px;
      min-width: 30%;

      &.bg-dark {
        color: #fff;
      }
    }
  }

  /*btn*/
  .btn.bg-light {
    background-color: #f7f7f7 !important;
    border: 1px solid #ccc;
    font-size: 11px !important;
  }
}

.inputListContainer {
  padding: 0 10px;
  margin-top: 10px;

  .col-4 {
    font-size: 14px;
    font-weight: bold;
  }
}

.modal-wrap {
  background-color: rgba(0, 0, 0, 0.3);

  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
  }

  &.modal-dialog-centered {
    justify-content: center;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
  }

  .modal-content {
    width: 80%;
    min-height: calc(100% - var(--bs-modal-margin) * 2);

    .modal-header {
      font-weight: bold;
      font-size: 18px;
      display: flex;
      justify-content: space-between;

      .modal-title {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
