@charset "UTF-8";
@import url("default.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 160%;
  color: #333;
  font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", "Helvetica", "AppleSDGothicNeo", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  /*width: 400px;*/
  /*height: 800px;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

header {
  background: #333;
  color: #fff;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header h1 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 12px;
}

.container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 0 0 100px 0;
}

.mainMenu {
  padding: 16px;
}
.mainMenu h2.title {
  border: 3px solid #333;
  height: 50px;
  border-radius: 30px;
  margin: 20px 0 30px 0;
}

h2.title {
  display: flex;
  align-items: center;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
h2.title:before {
  content: "\f285";
  margin: 0 10px;
  font-family: bootstrap-icons !important;
  font-weight: bolder;
  color: #333;
}

.mainMenu nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainMenu nav a {
  width: 48%;
  height: 50px;
  background-color: #ccc;
  color: #fff;
  margin: 10px 1px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.mainMenu nav a.on {
  background-color: #333333;
}

.inputContainer {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #333;
}
.inputContainer small {
  font-size: 12px;
}
.inputContainer > div {
  font-size: 13px;
}

/*form-control*/
.form-control {
  height: 30px;
  font-size: 11px;
  padding: 0 0 0 3px !important;
}

.form-control::placeholder {
  font-size: 12px;
}

.tableWrap table {
  position: relative;
  font-size: 10px;
}
.tableWrap table thead {
  position: sticky;
  left: 0;
  top: 0;
}
.tableWrap table thead th {
  font-size: 12px;
}
.tableWrap table thead th:first-of-type {
  text-align: center;
}
.tableWrap table tbody th {
  padding: 0;
}
.tableWrap table tbody th:first-of-type {
  text-align: center;
}
.tableWrap table tbody td {
  font-size: 10px;
  padding: 0;
}
.tableWrap table .form-check {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: auto;
  text-align: left;
  display: inline-block;
  padding-left: 10px;
}
.tableWrap table .form-check .form-check-input {
  margin: 0;
  float: none;
  vertical-align: middle;
}
.tableWrap table.table-data {
  margin: 30px 0;
}
.tableWrap table.table-data .bg-dark {
  color: #fff;
  text-align: center;
}
.tableWrap table.table-data th {
  vertical-align: middle;
}
.tableWrap table.table-data td {
  font-size: 14px;
}

.table-responsive table {
  width: 800px;
}

.loginWrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginWrap .logo {
  padding: 0 30px;
  margin-bottom: 30px;
}
.loginWrap .logo img {
  max-width: 100%;
}
.loginWrap input::placeholder {
  font-size: 14px;
}
.loginWrap .inputCont {
  width: 100%;
  padding: 0 16px;
}
.loginWrap .inputCont input:focus {
  outline: none;
}
.loginWrap .btnLogin {
  width: 100%;
  padding: 0 16px;
  margin-top: 20px;
}
.loginWrap .btnLogin button {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.searchContainer {
  padding: 10px 16px;
  border-bottom: 2px solid #333;
}
.searchContainer .row > * {
  padding-left: calc(var(--bs-gutter-x) * 0.2);
}
.searchContainer .font12 {
  font-size: 12px;
}
.searchContainer .font11 {
  font-size: 11px;
}
.searchContainer label {
  font-size: 11px;
  font-weight: bold;
  word-spacing: -1px;
  padding: 0 !important;
  line-height: 2.5;
}
.searchContainer .btn {
  height: 30px;
}
.searchContainer .form-select {
  height: 30px;
  line-height: 15px;
  font-size: 12px;
  font-size: 12px;
}
.searchContainer .btnWrap {
  padding-top: 10px;
  text-align: center;
}
.searchContainer .btnWrap .btn {
  height: 30px;
  font-size: 12px;
  min-width: 30%;
}

.inputListContainer {
  padding: 0 10px;
  margin-top: 10px;
}
.inputListContainer .col-4 {
  font-size: 14px;
  font-weight: bold;
}

/*btn*/
.btn.bg-light {
  background-color: #f7f7f7 !important;
  border: 1px solid #ccc;
  font-size: 11px !important;
}

/*# sourceMappingURL=style.css.map */
